@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.marquee-text {
  font-size: min(00.5rem, 00.5rem);
  line-height: 1;
}

.marquee {
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
